<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>铿铿学堂</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="fonts/iconfont.css">
</head>
<body>
  <div class="header">
    <div class="nav">
      <img  class="logo" src="images/logo.png" alt="" />
      <ul class="nav-list">
        <li><a href="#">首页</a></li>
        <li><a href="#">课程</a></li>
        <li><a href="#">学习</a></li>
        <li><a href="#">分享</a></li>
        <li><a href="#">社区</a></li>
      </ul>
      <ul class="nav-right">
        <li class="iconfont"><a href="#">&#xe64d;登录</a></li>
        <li class="iconfont"><a href="#">&#xe61c;注册</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="list">
      <ul>
        <li><a href="#" class="tab-active">全部课程</a></li>
        <li><a href="#">练琴秘籍</a></li>
        <li><a href="#">识谱攻略</a></li>
      </ul>
    </div>
    <div class="tab-main all">
      <div class="all-list">
        <h3 class="title">琴&nbsp;童</h3>
        <div class="row">
          <div class="item item0">
            <img src="images/index/1.jpg" alt="" />
            <div class="info">
              <p>
                新手指引
              </p>
              <p>
                讲师：sam
              </p>
            </div>
          </div>
          <div class="item item1">
            <img src="images/index/2.jpg" alt="" />
            <div class="info">
              <p>
                新人第一课：虫儿飞
              </p>
              <p>
                讲师：sam
              </p>
            </div>
          </div>
        </div>
        <div class="footer">
          全部（共7课）>>
        </div>
      </div>
      <div class="arrows">
        <span class="arrow"></span>
        <span class="arrow"></span>
      </div>
      <div class="all-list">
        <h3 class="title">琴&nbsp;徒</h3>
        <div class="row">
          <div class="item item0">
            <img src="images/index/3.jpg" alt="" />
            <div class="info">
              <p>
                天空之城
              </p>
              <p>
                讲师：sofia
              </p>
            </div>
          </div>
          <div class="item item1">
            <img src="images/index/4.jpg" alt="" />
            <div class="info">
              <p>
                喜欢你
              </p>
              <p>
                讲师：sofia
              </p>
            </div>
          </div>
        </div>
        <div class="footer">
          全部（共10课）>>
        </div>
      </div>
      <div class="arrows">
        <span class="arrow"></span>
        <span class="arrow"></span>
      </div>
      <div class="all-list">
        <h3 class="title">琴&nbsp;匠</h3>
        <div class="row">
          <div class="item item0">
            <img src="images/index/5.jpg" alt="" />
            <div class="info">
              <p>
                克罗地亚狂想曲
              </p>
              <p>
                讲师：summer
              </p>
            </div>
          </div>
          <div class="item item1">
            <img src="images/index/6.jpg" alt="" />
            <div class="info">
              <p>
                菊次郎的夏天
              </p>
              <p>
                讲师：summer
              </p>
            </div>
          </div>
        </div>
        <div class="footer">
          全部（共7课）>>
        </div>
      </div>
    </div>
    <div class="tab-main secret">
      <ul class="sec-row">
        <li class="sec-play">
          <img src="images/index/20.jpg" alt="" />
          <h3>什么是正确的坐姿</h3>
          <h4>弹琴先从正确的坐姿开始吧</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/21.jpg" alt="" />
          <h3>胳膊肘放松很重要</h3>
          <h4>胳膊肘不能往外拐哦，大拇指会掉出去的</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/22.jpg" alt="" />
          <h3>如何快速认识琴键？</h3>
          <h4>认识钢琴琴键不仅有利于加快学习曲目，还能快速背谱哦~</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/23.jpg" alt="" />
          <h3>5指如何触键</h3>
          <h4>钢琴初学者最难控制的两个手指，看完你就明白了</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/24.jpg" alt="" />
          <h3>如何抬手指</h3>
          <h4>很多人都说弹琴要抬手指，我们应该怎么抬？</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/25.jpg" alt="" />
          <h3>如何改掉翘指的习惯</h3>
          <h4>弹琴翘指很难看？怎样克服这个坏习惯呢？</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/26.jpg" alt="" />
          <h3>手指力量如何练习？</h3>
          <h4>手指没有力量立不住怎么办？sam老师教你小技巧</h4>
        </li>
        <li class="sec-play">
          <img src="images/index/27.jpg" alt="" />
          <h3>八度怎么弹？</h3>
          <h4>遇到八度怎么办？注意这几点就能轻松战胜自己僵硬的双手</h4>
        </li>
      </ul>
    </div>
    <div class="tab-main theory">
      <div class="the-main">
        <h3>课程目录</h3>
        <ul class="the-row">
          <li class="the-play">
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
